<div class="text-layout">
    <h1>Decimal Pipes y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - incluidos en el commonModule
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas netas"
        subheader="Del presente año">
            {{ventasNetas | number: '1.2-2'}}
        <i class="pi pi-dollar"></i>
        </p-card>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas brutas"
        subheader="Del presente año">
            {{ventasNetas | currency:'CAD':'symbol-narrow':'1.4-4'}}
        </p-card>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ganancias porentual"
        subheader="Del presente año">
            {{porcentaje | percent:'2.2-2'}}
        </p-card>
    </div>
</div>